@page "/budgets"

@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@budgets"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4"> @Localizer["Budget"]</MudText>
                <MudButton Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           Color="Color.Info" OnClick="@(() => ShowModalAsync())">
                    @Localizer["New"]
                </MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>@Localizer["Validity"]</MudTh>
            <MudTh>@Localizer["Rubro"]</MudTh>
            <MudTh>@Localizer["BudgetType"]</MudTh>
            <MudTh>@Localizer["Worth"]</MudTh>
            <MudTh>@Localizer["Balance"]</MudTh>
            <MudTh>@Localizer["Statu"]</MudTh>
            <MudTh Class="text-center">@Localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Validity!.Value</MudTd>
            <MudTd>@context.Rubro</MudTd>
            <MudTd>@context.BudgetType!.Name</MudTd>
            <MudTd>@context.Worth.ToString("N2")</MudTd>
            <MudTd>@context.Balance.ToString("N2")</MudTd>
            <MudTd>@context.Statu!.Name</MudTd>
            <MudTd Class="text-center">
                @if (context.StatuId == 1)
                {
                    <MudTooltip Text="@Localizer["Edit"]">
                        <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalAsync(context.Id, true))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="@Localizer["Delete"]">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Error"
                                   OnClick="@(() => DeleteAsync(@context))">
                            <MudIcon Icon="@Icons.Material.Filled.Delete" />
                        </MudButton>
                    </MudTooltip>
                }
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>@Localizer["NoRecords"]</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString=@Localizer["RecordsNumber"]
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText=@Localizer["All"]
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}